## NOVARIMAN

In [3]:

# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

The next few cells will show some examples on how to interact with our functions. Note that some of these function calls could be useful for you in completing the tasks below.

## Task 1

Please get the list of all Companies and sort by **Company Name** in reverse order.

Expected result:


```json
[{
    "name": "Company 3"
}, {
    "name": "Company 2"
}, {
    "name": "Company 1"
}]
```

In [1]:
def get_companies_sorted_reverse(company_list):
    return sorted(company_list, key=lambda x: x['name'], reverse=True)

# Contoh pemanggilan fungsi:
company_detail_list = [
    {"name": "Company 1", "domain": "Retail", "country": "United States"},
    {"name": "Company 2", "domain": "Technology", "country": "United Kingdom"},
    {"name": "Company 3", "domain": "Healthcare", "country": "United States"}
]

print(get_companies_sorted_reverse(company_detail_list))

[{'name': 'Company 3', 'domain': 'Healthcare', 'country': 'United States'}, {'name': 'Company 2', 'domain': 'Technology', 'country': 'United Kingdom'}, {'name': 'Company 1', 'domain': 'Retail', 'country': 'United States'}]

## Soal 2

Please print all Domain value in every company (use print statement).

Expected return:

```
    Company 1: Retail (United States)
    Company 2: Technology (United Kingdom)
    Company 3: Healthcare (United States)
```

In [2]:
def print_company_domains(company_list):
    for company in company_list:
        print(f"{company['name']}: {company['domain']} ({company['country']})")

# Contoh pemanggilan fungsi:
print_company_domains(company_detail_list)

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

## Task 3

List all Employees work By company domain.

Expected return:

```json
{
    "Retail": [
         "John Doe",
         "Robert White",
         "Ying Han Tan"
     ],
    "Technology":[
          "Tom Smith",
          "Rubby Lee",
     ],
    "Healthcare": [
         "Kenneth Ng",
         "Andrew Sebastian"
     ],
}
```

In [3]:
def employees_by_domain(employee_list, company_list):
    domain_dict = {company['name']: company['domain'] for company in company_list}
    result = {}
    
    for employee in employee_list:
        domain = domain_dict.get(employee['company'])
        if domain not in result:
            result[domain] = []
        result[domain].append(employee['full_name'])
    
    return result

# Contoh pemanggilan fungsi:
employee_detail_list = [
    {"name": "EMP-0001", "first_name": "John", "last_name": "Doe", "full_name": "John Doe", "company": "Company 1", "nationality": "Australia"},
    {"name": "EMP-0002", "first_name": "Tom", "last_name": "Smith", "full_name": "Tom Smith", "company": "Company 2", "nationality": "United States"},
    {"name": "EMP-0003", "first_name": "Andrew", "last_name": "Sebastian", "full_name": "Andrew Sebastian", "company": "Company 3", "nationality": "United States"},
    {"name": "EMP-0005", "first_name": "Ying Han", "last_name": "Tan", "full_name": "Ying Han Tan", "company": "Company 1", "nationality": "Australia"},
    {"name": "EMP-0015", "first_name": "Kenneth", "last_name": "Ng", "full_name": "Kenneth Ng", "company": "Company 3", "nationality": "United States"},
    {"name": "EMP-0018", "first_name": "Rubby", "last_name": "Lee", "full_name": "Rubby Lee", "company": "Company 2", "nationality": "Hong Kong"},
    {"name": "EMP-0017", "first_name": "Robert", "last_name": "White", "full_name": "Robert White", "company": "Company 1", "nationality": "United Kingdom"}
]

print(employees_by_domain(employee_detail_list, company_detail_list))

{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'], 'Technology': ['Tom Smith', 'Rubby Lee'], 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

## Task 4

Create a function that return employees with it's company country.

Expected return:


```json
[{
    "full_name": "John Doe",
    "company": "Company 1",
    "country": "United States"
}, {
    "full_name": "Tom Smith",
    "company": "Company 2",
    "country": "United Kingdom"
}, {
    "full_name": "Andrew Sebastian",
    "company": "Company 3",
    "country": "United Kingdom"
},  {
    "full_name": "Ying Han Tan",
    "company": "Company 1",
    "country": "United States"
},  {
    "full_name": "Kenneth Ng",
    "company": "Company 3",
    "country": "United States"
},  {
    "full_name": "Rubby Lee",
    "company": "Company 2",
    "country": "United Kingdom"
},   {
    "full_name": "Robert White",
    "company": "Company 1",
    "country": "United States"
},
    
]
```

In [4]:
def employees_with_company_country(employee_list, company_list):
    company_country_map = {company['name']: company['country'] for company in company_list}
    result = []
    
    for employee in employee_list:
        company = employee['company']
        result.append({
            "full_name": employee['full_name'],
            "company": company,
            "country": company_country_map.get(company)
        })
    
    return result

# Contoh pemanggilan fungsi:
print(employees_with_company_country(employee_detail_list, company_detail_list))

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Ying Han Tan', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Kenneth Ng', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Rubby Lee', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Robert White', 'company': 'Company 1', 'country': 'United States'}]

## Task 5

Create a function that return companies with a number of employees nationality that are working in the company.

Expected return:


```json
[{
    "company": "Company 1",
    "employee_nationality": {
        "Australia": 2,
        "Hong Kong": 1
    }
}, {
    "company": "Company 2",
    "employee_nationality": {
        "Hong Kong": 1,
        "United States": 1
    }
}, {
    "company": "Company 3",
    "employee_nationality": {
        "United States": 2
    }
}]
```

In [5]:
def company_employee_nationality_count(employee_list, company_list):
    company_nationality = {company['name']: {} for company in company_list}
    
    for employee in employee_list:
        company = employee['company']
        nationality = employee['nationality']
        if nationality in company_nationality[company]:
            company_nationality[company][nationality] += 1
        else:
            company_nationality[company][nationality] = 1
    
    result = [{"company": company, "employee_nationality": nationality_dict}
              for company, nationality_dict in company_nationality.items()]
    
    return result

# Contoh pemanggilan fungsi:
print(company_employee_nationality_count(employee_detail_list, company_detail_list))

[{'company': 'Company 1', 'employee_nationality': {'Australia': 2, 'United Kingdom': 1}}, {'company': 'Company 2', 'employee_nationality': {'United States': 1, 'Hong Kong': 1}}, {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]